<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CircomDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CircomDemo.Properties.Settings>
            <setting name="MediaPath" serializeAs="String">
                <value>\\192.168.0.199\casparcg\_media\</value>
            </setting>
            <setting name="CasparHost" serializeAs="String">
                <value>192.168.0.199</value>
            </setting>
        </CircomDemo.Properties.Settings>
    </applicationSettings>
</configuration>